@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

$background: hsl(0, 0%, 5%);
$backgroundSection: hsl(173, 7%, 22%);
$fontParagraph:  'Open Sans', sans-serif;
$fontTitle: 'Playfair Display', serif;
$backgroundNav: hsl(225, 6%, 13%);
$linkHover:hsl(223, 6%, 23%);
$textColor: hsl(180, 4%, 86%);
$backgroundAbout: hsl(0, 0%, 75%);
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 480px;
